* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero {
  min-height: 100vh;
  background: url(./HeroBG.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  text-transform: uppercase;
  color: rgb(255, 0, 255);
  font-size: 60px;
}
.banner {
  min-height: 100vh;
  background: blue;
}
