body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: "f3f3f3";
}
.container {
  border: 5px solid red;
  /* height: 300px;
  height: 50vh; */
  height: 300px;
}
.box {
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: #f3f3f3;
  /* height: 250px; */
}
.box-1 {
  background: #581f18;
  /* order: 3; */
}
.box-2 {
  background: #f0a202;
  /* order: 1; */
}
.box-3 {
  background: #d95d39;
  /* order: 2; */
}
.box-4 {
  background: #202c59;
  /* order: 4; */
}
.box-5 {
  background: #51cb20;
  /* order: 5; */
  /* align-self: flex-end; */
}
.generic {
  background: cyan;
}
/* .container-2 {
  height: 800px;
  border: 3px solid blue;
  display: flex;
  flex-direction: column; */
/* } */
/* Flexbox */
.container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
