:root {
  --primaryColor: blue;
  --cl-secondary: red;
  --mainTransition: all 2s linear;
  --mainSpacing: 3px;
}
h1 {
  color: var(--primaryColor);
}
h2 {
  color: var(--primaryColor);
}
h3 {
  color: var(--primaryColor);
  transition: var(--mainTransition);
}
p {
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
  color: var(--cl-secondary);
}
div {
  --primaryPurple: purple;
}
.main-text {
  color: var(--primaryPurple);
}
